:root {
  --border: solid 1px #b8b8b8;
  --border-radius: 8px;
  --padding: 8px;
  /* --font-color: #2c2c2c; */
  --font-color: #362c28;
  --btn-color: black;
  --btn-bgr-color: #b2f444;
  --padding-icons: 2px;
  --form-bg-color: white;
  --box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

@font-face {
  font-family: "Avenir-Book";
  src: local("Avenir-Book"),
    url("./assets/font/AvenirLTStd-Book.otf") format("opentype");
}

@font-face {
  font-family: "Avenir-Light";
  src: local("Avenir-Light"),
    url("./assets/font/AvenirLTStd-Light.otf") format("opentype");
}

@font-face {
  font-family: "Avenir-Medium";
  src: local("Avenir-Medium"),
    url("./assets/font/AvenirLTStd-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Avenir-Heavy";
  src: local("Avenir-Heavy"),
    url("./assets/font/AvenirLTStd-Heavy.otf") format("opentype");
}

* {
  font-family: "Avenir-Book";
  margin: 0;
}

#root {
  /* width: 100vw;
  height: 100vh; */
  margin: 0 auto;
  padding: 1vh 5vw;
  text-align: center;
  color: var(--font-color);
}

.err-msg {
  font-size: 12px;
  color: red;
  width: 100%;
  text-align: justify;
}

.form {
  background-color: var(--form-bg-color);
  min-width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* border: var(--border); */
  border-radius: var(--border-radius);
  padding: 20px;
  box-shadow: var(--box-shadow);
}

.form-btn-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 80px;
  width: 100%;
  padding: 10px;
}


.form label {
  margin-top: 10px;
  align-self: flex-start;
  text-align: left;
}

.form input {
  width: 90%;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--padding);
}

.form button {
  margin-top: 10px;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--padding);
  color: var(--btn-color);
  background-color: var(--btn-bgr-color);
  padding: 10px;
}
.form select {
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--padding);
}
/* Scegli avatar */
.avatar-container {
  display: flex;
  gap: 10px;
}

.nav-post-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info {
  display: flex;
  align-items: start;
  gap: 10px;
  text-align: left;
}

#user-avatar {
  border-radius: 40px;
}

#post-avatar {
  border-radius: initial;
}

.user-info-post {
  display: flex;
  align-items: center;
  gap: 5px;
}

#post-settings-icon {
  height: 20px;
}

.icons-container {
  display: flex;
  gap: 20px;
}

.icons-container img {
  width: 30px;
  height: 30px;
}

/* Potresti conoscere */

/* .users-list-container {
  display: flex;
  flex-direction: column;
  border: var(--border);
  border-radius: var(--border-radius);
  gap: 20px;
  min-height: 35rem;
  min-width: 18rem;
} */
.list-container{
display: flex;

}
.users-list-container ul {
  margin-top: 10px;
}


.back-button,
.next-button {
  width: 50%;
  margin: 3;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--padding);
  color: var(--btn-color);
  background-color: var(--btn-bgr-color);
}


/* scegli sport */

.sports-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.checkbox-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border-bottom: var(--border);
}

.checkbox-container input {
  width: initial;
}

.scegliere-sport label {
  order: -1;
}
.img-sports {
  background-color: var(--btn-bgr-color);
  border-radius: var(--border-radius);
  padding: var(--padding-icons);
}
