:root {
  --border: solid 1px #b8b8b8;
  --border-radius: 8px;
  --padding: 8px;
  --font-color: #2c2c2c;
  --btn-color: black;
  --btn-bgr-color: #AAF400;
--padding-icons:2px;
}
@font-face {
  font-family: "Avenir";
  src:
    local("Avenir"),
    url("AvenirLTSd-Book.otf") format("opentype") tech(color-COLRv1),
    url("AvenirLTSD-Heavy.otf") format("opentype"),
    url("AvenirLTStd-Light.otf") format("opentype");

}

* {
  margin: 0;
}

#root {
  /* width: 100vw;
  height: 100vh; */
  margin: 0 auto;
  padding: 1vh 5vw;
  text-align: center;
  color: var(--font-color);
   font-family: 'Avenir';
}

.form {
  min-width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 20px;
}
.form-btn-container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 130px;
  width: 100%;
 
  padding:10px;
  
}
.form label {
  margin-top: 10px;
  align-self: flex-start;
  text-align: left;
}

.form input {
  width: 90%;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--padding);
}

.form button {
  margin-top: 10px;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--padding);
  color: var(--btn-color);
  background-color: var(--btn-bgr-color);
  padding: 10px;
  
 
  
}
.form select {
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--padding);

}
/* Scegli avatar */
.avatar-container {
  display: flex;
  gap: 10px;
}

.nav-post-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info {
  display: flex;
  align-items: start;
  gap: 10px;
  text-align: left;
}

#user-avatar {
  border-radius: 40px;
}

#post-avatar {
  border-radius: initial;
}



.user-info-post {
  display: flex;
  align-items: center;
  gap: 5px;
}

#post-settings-icon {
  height: 20px;
}

.icons-container {
  display: flex;
  gap: 20px;
}

.icons-container img {
  width: 30px;
  height: 30px;
}

/* Potresti conoscere */

.users-list-conteiner {
  display: flex;
  flex-direction: column;
  border: var(--border);
  border-radius: var(--border-radius);
  gap: 20px;
  min-height: 35rem;
  min-width: 18rem;
}

.users-list-conteiner ul {
  margin-top: 10px;
}

.user-item {
  list-style-type: none;
}

.back-button,
.next-button {
  width: 50%;
  margin: 3;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--padding);
  color: var(--btn-color);
  background-color: var(--btn-bgr-color);
}

.b-n-button {
  display: flex;
  gap: 10px;
  margin-top: 7rem;
}
/* scegli sport */
.scegli-sport{
  border: var(--border);
  padding: 10px;
  width: 100%;
  border-radius: var(--border-radius);
}
.scegli-sport h3{
  padding: 20px;
}
.form-sports {
  display: flex;
  flex-direction: column;
}

.sports-input {
  display: flex;
  flex-direction: column;
}

.checkbox-container {
  display: flex;
  justify-content: space-between; 
  margin-bottom: 10px; 
}

 .scegliere-sport label {
  order: -1; 
}
.img-sports{
  background-color: var(--btn-bgr-color);
  border-radius: var(--border-radius);
  padding: var(--padding-icons);
}
